@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

:root {
    font-size: 16px;
    }

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

body {
    position: relative;
    width: 100%;
    background-image: linear-gradient(120deg, #4f605c, #27302e);
}

header{
    position: fixed;
    width: 100%;
    height: 4.375rem;
    background:#c6f1e7;
    top: 0;
    
    
}

.navbar{
    position: fixed;
    width: 100%;
    height: 4.375rem;
    margin: 0;
    padding: 0;
    
}

.navbar img{
    position: fixed;
    float: left;
    width: 80px;
    padding: 5px;
    padding-left: 1rem;
    height: auto;
}

.navbar nav{
    padding: 20px;
    float: right;
    height: 20px;
    text-decoration: none;

}

.navbar nav ul{
list-style: none;
}

.navbar nav li{
    display: inline-block;
    padding: 10px;
    
}

.navbar nav a{
    color: #59606d;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

}

.navbar nav a:visited{
    color: #59606d;
}


.hamburger{
    float: right;
    margin-right: 1rem;
}

.hamburger i{
    margin-top: 1rem;
}

.content-container{
    display: flex;
}

.content{
    width: 100%;
    text-align: center;
}

.content h1{
    font-size: 7vw;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center; 
}

.intro{
    font-size: 3vw;
    margin-top: 5%;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.big3lifts{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.big3lifts p{
    margin-left: 10%;
    margin-right: 10%;
}

.big3lifts img {
    justify-content: center;
    width: 80px;
}

.big3lifts label{
    color: white;
    width: auto;
}

.big3lifts input {
    padding-left: 5px;
    padding-right: 2px;
    border: none;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: center;
    border-radius: 8px;
}
.big3lifts input:focus {
    outline: none;
    background-color: #d2fff4;

}

.big3lifts form{
    width: 100%;
    justify-content: center;

}
.big3lifts button{
    box-shadow: 0 3px #89a7a0;
    outline: none;
    color: white;
    font-size: 17px;
    text-decoration: none;
    color: black;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}

.big3lifts button:hover{
    box-shadow: 0 3px #2f3a37;
    color: white;
    background-image: linear-gradient(120deg, #4f605c, #27302e);
    cursor: pointer;

}

.big3lifts button:active{
    box-shadow: 0 1px #2f3a37;
    cursor: pointer;
    transform: translateY(4px);
    outline: none;
}

.dlift img{
    margin-top: 10px;

}
.rounded{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


footer{
    font-size: 14px;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10%;
}

@media only screen and (max-width: 500px){
    .links{
        display: none;
        
    }
    .navbar{
        justify-content: right;
    }


}

@media only screen and (min-width: 501px){
    .hamburger{
        display: none;
    }
}

/* make border
border: solid red 1px;
*/